html {
    background-color: hsl(0, 0%, 93%);
    color: hsl(0, 100%, 100%);
    text-align: center;
}

h1 {
    color: hsl(217, 100%, 17%);
}

#main_sec {
    display: inline-block;
    padding: 40px;
    width: 80%;
    background-color: hsl(217, 60%, 25%);
    border-radius: 20px;
    text-align: center;
}

#tabs ul {
    text-align: center;
    padding: 0px 10px;
    margin: 0px;
    ;
}

#tabs li {
    display: inline-block;
    list-style-type: none;
    font-size: 25px;
    padding: 10px;
    margin: 0px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 0px;
    vertical-align: bottom;
}

#tabs a {
    color: hsl(0, 100%, 100%);
    text-decoration: none;
}

#tabs a:hover {
    color: hsl(5, 37%, 81%);
}

.secs {
    width: 90%;
    margin: auto;
    height: 500px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.about_me {
    background-color: hsl(217, 18%, 68%);
}

#tabs li.about_me {
    padding: 15px;
}

.secs.about_me img{
    height: auto;
    max-width: 20%;
}

.projects {
    background-color: hsl(218, 18%, 59%);
    display: none;
}

#projectsSec ul {
    list-style-type: none;
    list-style-position: inside;
    padding: 0px;
    font-size: 20px;
}

#projectsSec li a {
    color: hsl(0, 100%, 100%);
}

#projectsSec li a:hover {
    color: hsl(5, 37%, 81%);
}

.skills {
    background-color: hsl(217, 20%, 51%);
    display: none;
}

.contact {
    background-color: hsl(217, 27%, 42%);
    display: none;
}

