html {
    background-color: hsl(288, 0%, 15%);
    color: hsl(0, 100%, 100%);
    text-align: center;
}

#main_sec {
    display: inline-block;
    padding: 40px;
    background-color: hsl(5, 37%, 55%);
    border-radius: 20px;

}

#tabs ul {
    text-align: center;
    padding: 0px 10px;
    margin: 0px;
    ;
}

#tabs li {
    display: inline-block;
    list-style-type: none;
    font-size: 25px;
    padding: 10px;
    margin: 0px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 0px;
    vertical-align: bottom;
}

#tabs a {
    color: hsl(0, 100%, 100%);
    text-decoration: none;
}

#tabs a:hover {
    color: hsl(5, 37%, 81%);
}

.secs {
    width: 80%;
    margin: auto;
    height: 500px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.about_me {
    background-color: hsl(360, 47%, 20%);
}

#tabs li.about_me {
    padding: 15px;
}

.secs.about_me img{
    height: auto;
    max-width: 20%;
}

.projects {
    background-color: hsl(360, 47%, 29%);
    display: none;
}

.skills {
    background-color: hsl(360, 47%, 37%);
    display: none;
}

.contact {
    background-color: hsl(360, 47%, 48%);
    display: none;
}

